<div *ngIf="tvShow">
  <div class="parrallax-content" [ngStyle]="{'background-image': 'linear-gradient(rgba(52,41,49,0.8), rgba(68,34,102,0.8)), url('+'https://image.tmdb.org/t/p/w1280'+tvShow.backdrop_path+')'}">
    <div class="parrallax">
    </div>

    <div class="parallax-left-content">
      <section class="parallax-position">
        <div class="parallax-img-container">
          <img src="https://image.tmdb.org/t/p/w500/{{tvShow?.poster_path}}" alt="" width="300px">
        </div>
        <div class="parallax-right-content"> <!--Title-->
          <h2>{{tvShow.name}}</h2>
          <div class="parallax-btn-container">
            <button mat-mini-fab matTooltip="Bientôt" aria-label="Ajouter Un film favori"><mat-icon>{{'lolo.movie' | translate}}</mat-icon></button>
            <button mat-mini-fab matTooltip="Bientôt" aria-label="Ajouter un film star"><mat-icon>{{'lolo.movie.star' | translate}}</mat-icon></button>
            <button mat-mini-fab matTooltip="Bientôt" aria-label="Ajouter un signet"><mat-icon>{{'lolo.movie.bookmark' | translate}}</mat-icon></button>
            <a href="javascript:void(0)" (click)="openDialog()" *ngIf="video"><mat-icon>play_arrow</mat-icon>{{'lolo.movie.Play_Trailer' | translate}}</a>
          </div>
          <h3 class="parallax-subtitle">{{'lolo.movie.Overview' | translate}}</h3>
          <p>{{tvShow.overview}}</p>
          <h3 class="parallax-subtitle">Categories</h3>
          <a *ngFor="let genre of tvShow.genres" routerLink="/genres-tv/{{genre.id}}/{{genre.name}}">
            <button mat-raised-button color="primary">{{genre.name}}</button>
          </a>
        </div>
      </section>
    </div>

  </div>
</div>
