<section id="home-header">

</section>

<div class="container" id="home">

  <section>
    <header class="moviesHome-header">
      <div class="moviesHome-title">{{'lolo.movie.In_Theater' | translate}}</div>
      <a routerLink="/all-movies" style="color: white">{{'lolo.movie.See_all_Movies' | translate}}</a>
    </header>

    <mat-tab-group (selectedTabChange)="changeTab()">

      <!--Now Playing Movies-->
      <mat-tab label="{{'lolo.movie.Film_Moment' | translate}}">
        <div class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div *ngFor="let movie of nowPlaying | slice:0:10" class="swiper-slide">
              <app-poster-card [model]="movie" style="width: 100%"></app-poster-card>
            </div>
          </div>
          <div class="swiper-pagination" style=""></div>
        </div>
      </mat-tab>

      <!--Upcoming Movies Tab-->
      <mat-tab label="{{'lolo.movie.New_Film' | translate}}">
        <div class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div *ngFor="let movie of upcomingList | slice:0:10" class="swiper-slide">
              <app-poster-card [model]="movie"></app-poster-card>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </mat-tab>

      <!--Popular Movies Tab-->
      <mat-tab label="{{'lolo.movie.Popular_Films' | translate}}">
        <div class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div *ngFor="let movie of popularList | slice:0:10" class="swiper-slide">
              <app-poster-card [model]="movie"></app-poster-card>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </section>

  <!--TV-->

  <section>
    <header class="moviesHome-header">
      <div class="moviesHome-title">{{'lolo.movie.On_TV' | translate}}</div>
      <a routerLink="/all-tv-shows" style="color: white">{{'lolo.movie.See_all_TV_Shows' | translate}}</a>
    </header>

    <mat-tab-group (selectedTabChange)="changeTab()">

      <!--Currently Airing TV Shows Tab-->
      <mat-tab label="Currently Airing TV Shows">
        <div class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div *ngFor="let tvShow of onTheAir | slice:0:10" class="swiper-slide">
              <app-poster-card [model]="tvShow"></app-poster-card>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </mat-tab>

      <!--Airing Today TV Shows Tab-->
      <mat-tab label="Airing Today TV Shows">
        <div class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div *ngFor="let tvShow of airingToday | slice:0:10" class="swiper-slide">
              <app-poster-card [model]="tvShow"></app-poster-card>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </mat-tab>

      <!--Popular TV Shows Tab-->
      <mat-tab label="Popular TV Shows">
        <div class="swiper-container" [swiper]="config">
          <div class="swiper-wrapper">
            <div *ngFor="let tvShow of popularTvShows | slice:0:10" class="swiper-slide">
              <app-poster-card [model]="tvShow"></app-poster-card>
            </div>
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </mat-tab>

    </mat-tab-group>
  </section>

</div>
