.transparent-bar {
  position: absolute;
  z-index: 999;
  background: transparent;
}

.img-header {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  flex-shrink: 0;
  background-size: cover;
  margin-left: 0px;
}

mat-sidenav {
  width: 250px;
}

.mat-nav-list{
  padding-top: 0!important;
}

mat-nav-list a{
  border-bottom: 1px solid;
}

.center-flex{
  flex: 1 1 auto;

}

.button-title{
  margin-top: 50px;
  width: 400px;
  height: 100px;
  border-radius:25px;
  font: italic small-caps bold 16px/2 Roboto, "Helvetica Neue", sans-serif;
}

.home-name-padding {
  padding-left: 70px;
  width : 100px;
}

.hidden {
  display: none;
}

@media (max-width: 767px) {
  .janco-ocult{  display: none;  }
  .home-name-padding {padding-left: 0;}
  .button-title{
    margin-top: 200px;
    width: 400px;
    height: 100px;
    border-radius:25px;
    font: italic small-caps bold 16px/2 Roboto, "Helvetica Neue", sans-serif;
  }
}

/* Portrait phones and smaller */
@media (max-width: 480px) {
  .janco-ocult{  display: none;  }
  .home-name-padding {padding-left: 0;}
  .button-title{
    margin-top: 200px;
    width: 400px;
    height: 100px;
    border-radius:25px;
    font: italic small-caps bold 16px/2 Roboto, "Helvetica Neue", sans-serif;
  }
}
