<mat-sidenav-container fullscreen align="center"
                       [class.blue-theme]="isBlueColor"
                       [class.green-theme]="isGreenColor"
>
  <mat-sidenav #start>
    <mat-toolbar color="primary">
      <span style="color: white">{{'lolo.movie.Welcome' | translate}}</span>
      <span style="flex: 1 1 auto;"></span>
      <button mat-icon-button (click)="start.close()" aria-label="Close">
        <mat-icon>arrow_forward</mat-icon>
      </button>
    </mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/" routerLinkActive="active" (click)="start.close()">{{'lolo.movie.Home' | translate}}</a>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/profile" routerLinkActive="active" (click)="start.close()">{{'lolo.movie.Profile' | translate}}</a>
      <a mat-list-item *ngIf="!isLoggedIn" routerLink="/login" routerLinkActive="active" (click)="start.close()">{{'lolo.movie.Login' | translate}}</a>
      <a mat-list-item *ngIf="isLoggedIn" routerLink="/" routerLinkActive="active"
         (click)="start.close(); auth.signOut()">{{'lolo.movie.Logout' | translate}}</a>
      <a mat-list-item routerLink="/genres" routerLinkActive="active" (click)="start.close()">Genres</a>
      <a mat-list-item routerLink="/searchFilm" routerLinkActive="active" (click)="start.close()">Search</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar class="transparent-bar">
    <button mat-icon-button (click)="start.open()" aria-label="Menu">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="center-flex"></span>
             <button *ngIf="VerifyHomePage()" mat-raised-button color="primary" class = "button-title">
              Lolo Movie
            </button>
    <span class="center-flex">
<!--      <app-search></app-search>-->
    </span>


    <span *ngIf="auth.user | async as user" class="janco-ocult">{{ user.displayName }}</span>
    <span *ngIf="auth.user | async as user" class="img-header" mat-icon-button [matMenuTriggerFor]="menu"
          matTooltip="Options" [ngStyle]="{'background-image': 'url('+user?.photoURL+')'}"></span>
    <span *ngIf="auth.user | async as user" class="img-header" mat-icon-button [matMenuTriggerFor]="language"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="{{'lolo.movie.Color_Change' | translate}}" style="padding-right: 50px"
            aria-label="Change Color">
      <mat-icon>format_color_fill</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="changeToRed()" [class.hidden]="isRedColor" aria-label="Color Red">
        <mat-icon style="color: #F44336">lens</mat-icon>
        <span>{{'lolo.movie.Red' | translate}}</span>
      </button>
      <button mat-menu-item (click)="changeToBlue()" [class.hidden]="isBlueColor" aria-label="Color Blue">
        <mat-icon style="color: #2196f3">lens</mat-icon>
        <span>{{'lolo.movie.Blue' | translate}}</span>
      </button>
      <button mat-menu-item (click)="changeToGreen()" [class.hidden]="isGreenColor" aria-label="Color Green">
        <mat-icon style="color: #4caf50">lens</mat-icon>
        <span>{{'lolo.movie.Green' | translate}}</span>
      </button>
      <button mat-menu-item (click)="auth.signOut()" *ngIf="isLoggedIn" aria-label="Sign Out">
        <mat-icon>power_settings_new</mat-icon>
        <span>{{'lolo.movie.Sign_Out' | translate}}</span>
      </button>
    </mat-menu>


    <button mat-icon-button [matMenuTriggerFor]="language" matTooltip="{{'lolo.movie.Language_Change' | translate}}" style="padding-right: 50px"
            aria-label="Change Language">
      <mat-icon>flag</mat-icon>
    </button>

    <mat-menu #language="matMenu">
      <button *ngIf ="!(translate.currentLang === 'fr-FR')"mat-menu-item (click)="changeLanguage('fr-FR')" >
        <span class="flag-icon flag-icon-fr"></span>
        <span>FR</span>
      </button>
      <button *ngIf ="!(translate.currentLang === 'en-US')" mat-menu-item (click)="changeLanguage('en-US')">
        <span class="flag-icon flag-icon-gb"></span>
        <span>EN</span>
      </button>
    </mat-menu>
  </mat-toolbar>

  <router-outlet></router-outlet>

  <footer class="docs-footer">
    <div class="docs-footer-list">
      <div class="docs-footer-copyright">
        <p>{{'lolo.movie.CreatedBy' | translate}}</p>
      </div>
    </div>
  </footer>

</mat-sidenav-container>
