<div *ngIf="movie">

  <div class="parrallax-content" [ngStyle]="{'background-image': 'linear-gradient(rgba(52,41,49,0.80), rgba(0,0,0,0.85)), url('+'https://image.tmdb.org/t/p/w1280'+movie.backdrop_path+')'}">

    <div class="parallax-left-content">
      <section class="parallax-position">

        <div class="parallax-right-content"> <!--Title-->
          <mat-card style="background-color: transparent; box-shadow: none !important;">
          <h2>{{movie.title}}</h2>
          <p>{{'lolo.movie.Overview' | translate}}</p>
          <p style="padding-right: 8px">{{movie.overview}}</p>
          </mat-card>
          <div>
            <button mat-raised-button color="primary" aria-label="Trailer" (click)="openDialog()">
              <mat-icon  class="icon-colored" style="background: white; border-radius: 50%;">play_arrow</mat-icon> {{'lolo.movie.Watch_Trailer' | translate}}
            </button>
<div>  <br><button mat-raised-button color="primary" aria-label="Trailer" (click)="gotolinks()">
  <mat-icon  class="icon-colored" style="background: white; border-radius: 50%;">play_arrow</mat-icon> Voir
</button></div>
            <br>
<!--            <mat-form-field appearance="fill">-->
<!--              <mat-label>Lien steamings</mat-label>-->
<!--              <mat-select>-->
<!--                <mat-option value="{{ season }}" *ngFor="let season of linksStreams">{{'lolo.movie.Season' | translate}}: {{ season }}</mat-option>-->
<!--              </mat-select>-->
<!--            </mat-form-field>-->
          </div>
          <br>
          <p>Categories</p>
          <div>
            <a *ngFor="let genre of movie.genres" routerLink="/genres/{{genre.id}}/{{genre.name}}">
              <button mat-raised-button color="primary" aria-label="Genres">{{genre.name}}</button>
            </a>
          </div>

        </div>

        <div class="parallax-img-container">
          <img src="https://image.tmdb.org/t/p/w500/{{movie?.poster_path}}" alt="">
        </div>
      </section>

      <section class="top-billed-cast">
        <p class="title-billed">{{'lolo.movie.Top_Billed_Cast' | translate}}</p>
        <div style="display: flex">
          <div *ngFor="let actor of cast; let last = last" [ngStyle]="{'border-right': last !== true ? '1px solid #ffffff75' : ''}" style="width: 20%;">

            <a routerLink="/actor/{{actor?.id}}">
              <div style="display: inline-flex; align-items: center; padding: 0 5px;">
                <div>
                  <img mat-card-image src="https://image.tmdb.org/t/p/w500/{{actor?.profile_path}}">
                  <small style="color: #F44336; font-weight: 500">{{actor.character}}</small>
                  <p style="margin: 0; font-size: 14px;">{{actor.name}}</p>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    </div>
  </div>

  <div class="container">
    <div *ngIf="similarMovies" class="similar-movies">
      <h1>{{'lolo.movie.Recommended_Movies' | translate}}</h1>
      <div style="text-align:center;">
        <span *ngFor="let movie of similarMovies;">
          <app-poster-card [model]="movie" class="recommended-poster" (click)="upOnRouting()"></app-poster-card>
        </span>
      </div>
    </div> <!--End Similar Movies-->
  </div>


</div>
<div *ngIf="isLoading" style="margin-top: 30%">
  <div class="loading">
    <h4>{{'lolo.movie.Loading' | translate}}</h4>
  </div>
</div>
